{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}


    <div class="container-fluid">
        <div class="text-center">
            <h1>{{ oneNews.title }}</h1>
            <img src="{{ vich_uploader_asset(oneNews, 'imageFile') }}" alt="{{ oneNews.image }}" class="center-block"/>
        </div>

        {{ oneNews.content|raw }}
        Publié le {{ oneNews.date|date("m/d/Y", "Europe/Paris") }}
        {% if app.user %}
            <div class="row">
                <div class="col-sm-12">
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        {% else %}
            <p>Pour commenter vous devez <a href="{{ path('fos_user_registration_register') }}">vous enregistrer</a> ou
                <a href="{{ path('fos_user_security_login') }}">vous connecter</a></p>
        {% endif %}

        {% for comments in comments %}
            <div>
                <p>
                    {{ comments.user }} a dit:
                </p>
                {{ comments.content|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}