{% extends '::base.html.twig' %}

{% block body %}

    {{ parent() }}


    <div class="container-fluid">
        <div class="text-center">
            <h1>{{ oneBurger.name }}</h1>
            <img src="{{ vich_uploader_asset(oneBurger, 'imageFile') }}" alt="{{ oneBurger.image }}"
                 class="center-block"/>
        </div>
        <h4>Prix: {{ oneBurger.price }}</h4>
        <h4>Description: </h4>
        {{ oneBurger.description|raw }}

        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% if app.user %}
            <div class="row">
                <div class="col-sm-12">
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        {% else %}
            <p>Pour commenter vous devez <a href="{{ path('fos_user_registration_register') }}">vous enregistrer</a> ou
                <a href="{{ path('fos_user_security_login') }}">vous connecter</a></p>
        {% endif %}

        {% for comments in comments %}
            <div>
                <p>
                    {{ comments.user }} a dit:
                </p>
                {{ comments.content|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}