{% extends "base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="row">
    {% for plat in plat %}

            <div class="card" style="width:400px">
                <div class="card-body">
                    <h4 class="card-title">{{ plat.name }}</h4>
                    <p class="card-text">{{ plat.price }} €</p>
                    <img src="{{ vich_uploader_asset(plat, 'imageFile') }}" alt="{{ plat.image }}" />
                    <p class="card-text">{{ plat.description }}</p>
                </div>
            </div>

    {% endfor %}
    </div>
{% endblock %}